* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: fantasy;
    background-color: #212121
}

#homePage,
#aboutPage,
#porfolioPage,
#contactPage {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aqua;
    width: 100%;
    flex-direction: column;
    position: absolute;
}

a {
    color: white;
    text-decoration: none;
    margin-top: 50px;
    padding: 10px 30px;
    border: 1px solid white;
}

#homePage{
    background-color: black;
}
#aboutPage {
    background-color: black;
}
#porfolioPage {
    background-color: black;
}
#contactPage {
    background-color: black;
}

/*
*keyframes for animations
*/
