* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: fantasy;
}

#homePage,
#aboutPage,
#porfolioPage,
#contactPage {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aqua;
    width: 100%;
    flex-direction: column;
    position: absolute;
}

a {
    color: white;
    text-decoration: none;
    margin-top: 50px;
    padding: 10px 30px;
    border: 1px solid white;
}

#homePage{
    background-color: tomato;
}
#aboutPage {
    background-color: teal;
}
#porfolioPage {
    background-color: violet;
}
#contactPage {
    background-color: yellow;
}

/*
*keyframes for animations
*/

@keyframes fadeInRight {
    0%{
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

/* css page transitions */

.m-scene {
    .scene_element {
        animation-duration: 0.25s;
        transition-timing-function: ease-in;
        animation-fill-mode: both;
    }

    .scene_elemnet--fadeinright {
        animation-name: fadeInRight;
    }
}

